/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* App customization start */
.app {
  margin-top: 5.5rem;
  scroll-margin-top: 5.5rem;
  overflow-y: auto;
}
/* End */

/* Form customization start */
.form {
  margin-left: 0rem !important;
}

.status-field {
  width: calc(100% / 8) !important;
}

.title-field {
  width: calc(100% / 3) !important;
}
/* End */

/* Table customization start */
.table-row-color {
  background-color: #297ccf !important;
}

.table-row {
  color: white !important;
  font-size: 1rem !important;
  text-align: center !important;
  width: calc(100% / 3) !important;
}

.description {
  font-size: 1rem !important;
  font-weight: bold !important;
}

.description-content {
  font-size: 0.9rem !important;
  padding: 1.5rem 1rem 1.5rem 1rem !important;
}

.status-menu {
  text-transform: capitalize !important;
  font-size: 0.9rem !important;
}

.to-do {
  background-color: #767a76 !important;
}

.in-progress {
  background-color: #0ba10b !important;
}

.pagination {
  background-color: #e8e9ec !important;
}
/* End */

/* Miscellaneous UI coustomization */
.banner {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #cce1f6;
  border-radius: 2rem;
  text-align: center;
}

.banner-error {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f6d8cc;
  border-radius: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
}
/* End */
